* {
  font-family: Helvetica, sans-serif;
}
/* Editing element for the title
 * Center aligned, 50px, Helvetica, red coloring*/
.title {
  text-align: center;
  font-size: 50px;
  color: rgb(245, 31, 16);

}

/* Overall box to contain tasks
 * Using a flex grid to display tasks */
.task-list-flex {
  display: flex;

  /* Align content starting at the left and the top when it wraps 
   * Wrap to next line when we hit the border
   * Allow for scrolling when there's overflow */
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;

  /* Set up for the border */
  border: 5px solid rgb(245, 31, 16);
  border-radius: 3vw;

  /* Set up sizing for task list 
   * USe view width/height so sizing is dependent on page size
   * Margins center it */
  min-height: 22vh;
  width: 86vw;

  margin: auto;
}

/* Formatting for indivual tasks 
 * Each should have two buttons, 
 * one to mark as complete, the other to delete.
 * Using inline-block to allow for borders, margins, and text editing */
.task {
  display: inline-block;
  /* Border design */
  border: rgb(233, 242, 60) solid 3px;
  border-radius: 1vw;

  /* Sizing for task box 
   * Define min width, as well as max width and height 
   * Used in case inputted task text is too long
   * Overflow is hidden and allows for scrolling
   * Text is aligned in the center */
  min-width: 12rem;
  max-width: 15rem;
  max-height: 200px;
  overflow: auto;
  text-align: center;

  /* Margins for alignment in flex 
   * Using view width/height for dynamic seperation as page is resized */
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  

  /* Background gradient for tasks */
  background-image: radial-gradient(circle, 
        rgb(245, 31, 16), rgba(248, 138, 74, 0.833));

  /* Text coloring */
  /* color: rgb(233, 242, 60); */
  color: rgb(255, 255, 255)
}

/* Formatting for text in tasks 
 * Underline and font */
.task {
  padding: 0.5rem;
  font-size: 18px;
}

/* Edit the task once it has been marked completed
 * Cross out and highlight green */
input[type="checkbox"]:checked ~ p{
  text-decoration: line-through; 
  background-color: green;
}

/* Trigger for selecting checkbox
 * Change cursor to pointer to indicate clickable */
input[type="checkbox"] {
  cursor: pointer;
}

/* Trigger for selecting checkbox text
 * Change cursor to pointer to indicate clickable */
input[type="checkbox"] + label {
  cursor: pointer;
}

/* Turns cursor to a pointer when hovering over any buttons */
button {
  cursor: pointer;
}

/* Background gradient for entire page */
body {
  background-image: radial-gradient(circle, 
  rgba(24, 205, 14), rgb(255, 228, 25));
}

form {
  font-size: 20px;
}

.insert-task-manually {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  margin: 2vw;
  color: #204507;
}

.add-task-btn {
  text-align: center;
}

.add-task-btn > button {
  font-size: 18px;
}

.delete-task-btn {
  text-align: center;
  margin-top: 2rem;
}

.delete-task-btn > button {
  font-size: 18px;
}