.title {
  text-align: center;
}

.task-list-grid {
  display: grid;
  grid-template-rows: auto;
  border: blue solid 4px;
  gap: 0.2rem;
  margin: auto;

  max-width: min(70%, 50rem);
  min-width: 26rem;
}


.task {
  margin: auto;
  border: grey solid 2px;
  min-width: 12rem;
  text-align: center;
}