h1 {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    /* margin: 10px; */
    border: none;
    cursor: pointer;
    background-color: transparent;
}
button.active {
    filter: drop-shadow(0 0 10px #00ff00);
}
button.active, button.active:hover {
    filter: drop-shadow(0 0 20px #00ff00);
}
button:hover {
    filter: drop-shadow(0 0 20px #3adcee);
}

#buttons button {
    margin: 10px;
}

#buttons {
    width: max-content;
    height: max-content;
    text-align: center;
    border: 10px solid #000000;
    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

#submit {
    text-align: center;
    font-family: Poppins, sans-serif; /* Use Poppins font */
    font-size: 24px; /* Increase font size */
    padding: 15px 30px; /* Increase padding */
    box-shadow: none;
    display: block;
    margin: auto;
}